<div class="h-auto w-full grid grid-cols-2">
    <div class="w-auto flex-col pl-20">
        <h1 class="text-5xl font-semibold " >О НАС</h1>
        <p class="mt-4 font-semibold">Более 13 лет компания «Лазер-НН» работает на рынке металлообработки. За это время мы приобрели бесценный опыт в разработке и создании изделий из металла любой сложности, а также заслужили доверие наших клиентов.<br/>
            По мере роста и развития компании наши производственные площади выросли с 400 до 6000 м². Ручной труд сменился программируемыми станками, расширился спектр услуг, что значительно повысило скорость выполнения работ, а также существенно улучшило качество выпускаемой продукции.</p>
    </div>
    <div class="w-auto flex relative">
        <img src="assets/img/pic3skewed.png" class="z-10 absolute" width="400" height="200"/>
        <img src="assets/img/pic7skewed.png" class="z-0 absolute left-56" width="400" height="200"/>
    </div>
    <div class="w-auto pl-20 font-semibold">
        <ul>
            <li>Покажите нам эскиз, мы запустим деталь в серию</li>
            <li>Готовы взять вашу работу на аутсорс</li>
            <li>Изготавливаем изделия любой сложности и формы</li>
            <li>Заслужили доверие клиентов</li>
        </ul>
    </div>
</div>