<div class="my-10 ml-6">
    <div class="flex justify-center">
        <img id="myImg1" class="galleryPic" src="assets/img/pic5.jpg" onmousedown="handleClick(id)">
        <img id="myImg2" class="galleryPic" src="assets/img/pic6.jpg" onmousedown="handleClick(id)">
        <img id="myImg3" class="galleryPic" src="assets/img/pic3.jpg" onmousedown="handleClick(id)">
        <img id="myImg4" class="galleryPic" src="assets/img/pic4.jpg" onmousedown="handleClick(id)">
    </div>

    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
    </div>

    <script>
        function handleClick(imageId)
        {
            var modal = document.getElementById("myModal");
            var img = document.getElementById(imageId);
            var modalImg = document.getElementById("img01");
            img.onclick = function()
            {
                modal.style.display = "block";
                modalImg.src = this.src;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() { modal.style.display = "none"; }
            document.addEventListener('keydown', (event) => {
                const keyCode = event.keyCode;
                if(keyCode == 27){ modal.style.display = "none"; }
            }
            )
        }
    </script>
</div>