---
text: 
---

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width:device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://api-maps.yandex.ru/2.1/?apikey=2151b5c4-c2da-4d3e-b579-eb25fd32aa6b&lang=ru_RU" type="text/javascript"></script>
    </head>
    <body class="min-h-screen flex flex-col">

        {% include './partials/header/header' %}

        {% include './partials/signs/sectionSign' %}

        {% include './content/content' %}

        {% include './partials/footer/footer' %}

    </body>
</html>