---
headerImageUrl: ../assets/img/logo.jpg
headerWorkingTime:  Пн-Пт 8:00-17:00
headerAddress: Павловский район, с. Б.Давыдово, ул.Заводская, 2а
headerFirstPhoneNumber: 88317120706-ПК ДК
headerSecondPhoneNumber: 89306655111-ДК лазер
headerOrderCallButtonText: Заказать звонок

headerLinksTitles: Главная( ^v^), О Нас( ^v^), Контакты
headerLinksUrls: /( ^v^), /aboutUs( ^v^), /contacts

footerLeftSign: ООО "Движение Качества". Все права защищены. (с) 2022
footerRightSign: Политика конфиденциальности
---

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width:device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://api-maps.yandex.ru/2.1/?apikey=2151b5c4-c2da-4d3e-b579-eb25fd32aa6b&lang=ru_RU" type="text/javascript"></script>
    </head>
    <body class="min-h-screen flex flex-col">

        {% include './partials/header/header' %}

        {% block content %}
            {{ content }}
        {% endblock %}       

        {% include './partials/footer/footer' %}

    </body>
</html>