---
layout: main.liquid
title: Услуги
---

<div class="w-full min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-6xl">{{ title }}</h1>
    <h2 class="text-3xl mt-5">{{ content }}</h2>
</div>